@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";


.privacy section h2 {
    font-size: 2rem;
}

@media (max-width: 576px) {
    .masthead ul li {
        font-size: 1.1rem;
    }
    .masthead ul {
        list-style-type: none;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
    }
}

@media (min-width: 576px) {
    .masthead ul li {
        font-size: 1.3rem;
    }
}
